@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* font-family: "Outfit", serif; */
    /* font-family: "Inter", serif; * */
    --rose1:hsl(330, 94%, 93%);
    --Rose800: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Stone900: hsl(24, 5%, 18%);
    --stone600:hsl(30, 10%, 34%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone100: hsl(30, 54%, 90%);
    --Brown800: hsl(14, 45%, 36%);
}
body{
   
    background-color: var(--);
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card{
    max-width: 700px;
    width: 100%;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.412);
    margin: 50px;
    padding: 16px;
}
header{
    width: 650px;
    margin:20px  auto;
}
img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}
img:hover{
    scale:1.25 1.25;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.341); 
}
section{
    margin: 20px;
}
.section01 h1{
    font-family: "Young Serif", serif; 
    color: var(--Stone900);
    font-weight: 500;
    font-size: 2rem;
    margin: 10px auto;
}
.section01 p{
    margin: 15px auto;
    color:var(--stone600) ;  
    font-family: "Outfit", serif;
}
ul li{
    color: var(--stone600);
    font-family: "Outfit", serif;

}
.section02{
    background-color: var(--rose1);
    padding: 25px;
    position: relative;
}
.section02 h2{
    margin-bottom: 15px;
    color: var(--Rose800);
    font-family:"Inter", serif ;
}
.section02 ul li{
    margin-left: 25px;
    padding: 10px;
}
.section02 ul li::marker {
    color:var(--Rose800); 
  }
.section02::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: var(--Rose800);
    border-radius: 15px 1px;
}
.section03 h2{
    margin: 20px auto;
    font-family: "Young Serif", serif; 
    font-weight: 400;
    color: var(--Brown800);
}
.section03 ul li{
    margin:0 25px;
    padding: 10px;
}
#instructions-list{
    list-style-type: decimal;
}
#instructions-list li::marker{
    font-weight: 600;
}
.section03 ul li::marker{
    color: var(--Brown800);
}
hr{
    border: 0;
    border-top: 1px solid var(--Stone150);
    margin: auto;
    width: 90%;
}

#s3-paragraph{
    color:var(--stone600) ;  
    font-family: "Outfit", serif;
}
table{
    margin: 20px;
    width: 90%;
    font-family:"Inter", serif ;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid var(--Stone150); 
    
}
td{
    padding: 15px;
}
td:last-child{
    color: var(--Brown800);
    font-weight: 700;

}
td:first-child {
    color: var(--stone600);
    font-weight: 500;
}
@media (max-width:375px){
    .card{
        max-width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    header{
        width: 375px;
        margin:0;
    }
    img{
    border-radius: 0;

    }
}